$image-size: 700;

.portfolio {
  margin: 2em;
}
@media (max-width: 600px) {
  .portfolio {
    margin-left: 0;
    margin-right: 0;
  }
  .image-grid {
    grid-row-gap: 4em!important;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 2em;
  grid-column-gap: 2em;
  justify-items: center;
  align-items: center;

  .image-container {
    display: flex;
    align-items: center;
    justify-items: center;
    background: black;
    height: 100%;
    max-width: $image-size;
    max-height: $image-size;
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .image-grid {
    grid-template-columns: 1fr 1fr !important;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
  }
}

@media (max-width: 600px) {
  .image-grid {
    grid-template-columns: 1fr !important;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
  }
}
