$image-size: 700;
$large-grid-gap: 0.5em;

.portfolio {
  margin: 1em;
}

.hover-text {
    visibility: hidden;
  pointer-events:none;

}
@media (max-width: 600px) {
  .portfolio {
    margin-left: 0;
    margin-right: 0;
  }
  .image-grid {
    grid-row-gap: 4em!important;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: $large-grid-gap;
  grid-column-gap: $large-grid-gap;
  justify-items: center;
  align-items: center;

  .image-container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    background: black;
    height: 100%;
    max-width: $image-size;

    max-height: $image-size;

    &:hover {
      .hover-text {
        visibility: visible!important;
      }
    }


  }
  img {
    &:hover {
      cursor: pointer;
      opacity: 0.7;
      filter: grayscale(50%);
    }
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.hover-text {
  width: 100%;
  font-size: 3em;
  text-align: center;
  font-weight: lighter;
  position: absolute;
  color: white;
}
@media (max-width: 1000px) {
  .image-grid {
    grid-template-columns: 1fr 1fr !important;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
  }
}

@media (max-width: 600px) {
  .image-grid {
    grid-template-columns: 1fr !important;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
  }
}
